//Variables :
$orange : #C5630C;
$snow : #FBFBFB;
$skin_color : #A47F6F;
$blue-grey : #415057;
$grey : #33353A;
$deep-blue : #1A1F24;
$dark : #060A0D;

//Mixins :


body{
  background-color: $dark;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
h1, h2, h3, ul, nav, a, p, span{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: $snow;
}
p, span{
  /*font-family: "Playfair Display", serif;
  font-optical-sizing: auto;*/
  font-weight: normal;
  font-style: normal;
  color: $dark;
  margin: 0;
}

h1{
  font-size: 4.5em;
  font-weight: 900;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 3em;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 10px 0 10px;
  &__button{
    width:40%;
    button{
      width: 200px;
      padding: 10px;
      border-radius: 0;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }
  .logo{
    font-family: "Nothing You Could Do", cursive;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 3em;
    width: 40%;
  }
  &__nav{
    display: flex;
    position: -20px;
    font-size: 0.9em;
    width: 40%;
    min-width: 350px;
    justify-content: space-between;
    li{
      list-style-type: none;
    }
    a{
      text-decoration: none;
      font-weight: normal;
    }
  }
  .box{
    display: flex;
    align-items: center;
  }
}

.header-banner{
  display: flex;
  justify-content: center;
  margin: 0;
  height: 600px;
  background-image: url(/images/face_aux_montagnes.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 10;
    h1{
      font-family: "Nothing You Could Do", cursive;
      font-style: normal;
      font-weight: 400;
      margin: 0;
      letter-spacing: 2px;
    }
    h2{
      text-align: left;
      margin: 0 auto;
      width: fit-content;
      left: 50px;
      letter-spacing: 1.5cqmax;
      font-size: 0.8em;
      text-transform: uppercase;
    }
  }
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    margin: 40px;
  }
}

.post{
  display: flex;
  flex-direction: column;
  background-color: $snow;
  width: 70%;
  border-radius: 20px;
  padding: 40px;
  .post__title{
    color: $dark;
    text-align: center;
  }
  .post__article{
    display: flex;
    flex-direction: row;
    .post__img{
      width: 40%;
      padding: 10px;
      img{
        width: 100%;
      }
    }
    .post__text{
      width: 60%;
      padding: 10px;
      color: $dark;
    }
  }
}

.container{
  background-color: $dark;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  &__product{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $snow;
    width: 400px;
    height: 200px;
    border: 7px solid $snow;
    margin: 100px;
    .price{
      a{
        text-decoration: none;
      }
      p{
        font-family: "Roboto", sans-serif;
        color: $snow;
        font-size: 2em;
        margin: 0;
      }
    }
  }
}

footer{
  .icon{
    display: flex;
    flex-direction: row;
    color: $snow;
    &__twitter, &__instagram, &__github{
      width: 40px;
      height: 40px;
      color: $snow;
    }
  }
}